<%= generated_erb(%(form_with model: form, url: form_url, method: form_method, scope: :#{file_name}, class: "#{ui_class(:stacked_form)}" do |form|)) %>
  <%= generated_block("if form.object.errors.any?") %>
    <div class="<%= ui_class(:error_box) %>">
      <h2>Revise os campos abaixo</h2>
      <ul>
        <%= generated_block("form.object.errors.full_messages.each do |message|") %>
          <li><%= generated_erb("message") %></li>
        <%= generated_block("end") %>
      </ul>
    </div>
  <%= generated_block("end") %>

<%= form_fields_markup %>

  <div class="<%= ui_class(:form_actions) %>">
    <%= generated_erb(%(form.submit submit_label, class: "#{ui_class(:button_primary)}")) %>
    <%= generated_erb(%(link_to "Cancelar", #{plural_path_call}, class: "#{ui_class(:button_secondary)}")) %>
  </div>
<%= generated_block("end") %>
