<%= domain_module_opening %>
  module Services
    class Update<%= file_name.camelize %>
      def initialize(repository: Repositories::<%= file_name.camelize %>Repository.new)
        @repository = repository
      end

      def call(id:, attributes:)
        repository.update(id, attributes)
      end

      private

      attr_reader :repository
    end
  end
<%= domain_module_closing %>
