<section class="<%= ui_class(:page_shell_md) %>">
  <header class="<%= ui_class(:page_header) %>">
    <div>
      <p class="<%= ui_class(:eyebrow) %>">Edicao</p>
      <h1>Editar <%= file_name.humanize %></h1>
    </div>
    <%= generated_erb(%(link_to "Voltar", #{member_path_call("params[:id]")}, class: "#{ui_class(:button_secondary)}")) %>
  </header>

  <div class="<%= ui_class(:surface_card) %>">
    <%= generated_erb(%(render "form", form: @form, submit_label: "Salvar alteracoes", form_url: #{member_path_call("params[:id]")}, form_method: :patch)) %>
  </div>
</section>
