<%= package_namespace_opening("Domain", "Entities") %>
  class <%= file_name.camelize %>
    attr_reader <%= entity_reader_names %>

    def initialize(<%= entity_initializer_signature %>)
<% entity_keywords.each do |name| -%>
      @<%= name %> = <%= name %>
<% end -%>
    end
  end
<%= package_namespace_closing("Domain", "Entities") %>
